.app {
  display: flex;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-image: url("../assets/images/bg.png");
}

.landing-page {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.home-container,
.about-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 200px ;
  padding: 20px;
  @media (min-width: 768px) {
    margin-top: 250px ;
  }
}

.home-container {
  color: #1F4690;
  margin-bottom: 375px;
  a {
    margin-top: 20px;
    font-weight: 700;
  }
  .about-icon {
    margin-left: 10px;
    vertical-align: middle;
  }
}

.about-container {
  margin-bottom: 275px;
  .link-icon {
    margin-right: 5px;
    vertical-align: middle;
  }
  li {
    margin: 20px 0;
  }
}

.blog-container,
.post-container {
  margin-top: 60px;
  padding: 25px;
  overflow-y: auto;
  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.blog-container {
  .main-title {
    margin-bottom: 15px;
    color: #1F4690;
  }

  .post-item {
    margin-bottom: 15px;
    box-shadow: 0px 14px 22px -21px grey;;
    border-radius: 4px;
    padding: 12px 24px;
    background-color: #F9F9F9;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .date, .post-title {
      display: flex;
      small, h4 {
        margin-left: 10px;
      }
    }
    @media screen and (max-width: 768px) {
      height: 75px;
    }
  }
}

.post-container {
  background-image: url("../assets/images/bg.png");
  small {
    display: block;
    margin-top: 20px;
  }

  .post-title {
    margin-top: 10px;
  }

  .markdown-body {
    margin-top: 20px;
    li {
      list-style: disc;
    }
  }
}

.arrow-back-outline {
  margin-right: 10px;
  vertical-align: middle;
}

