.app {
  display: flex;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  background-image: url("../assets/images/bg.png");
}

.landing-page {
  height: 100%;
}

.home-container,
.about-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 200px ;
  padding: 20px;
  @media (min-width: 768px) {
    margin-top: 250px ;
  }
}

.home-container {
  color: #c32f27;
  a {
    margin-top: 20px;
    font-weight: 700;
  }
  .about-icon {
    margin-left: 10px;
    vertical-align: middle;
  }
}

.about-container {
  .link-icon {
    margin-right: 5px;
    vertical-align: middle;
  }
  li {
    margin: 20px 0;
  }
}

.blog-container,
.post-container {
  margin-top: 45px;
  padding: 25px;
  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.blog-container {
  .main-title {
    margin-bottom: 15px;
    color: #c32f27;
  }

  .post-item {
    margin-bottom: 15px;
    box-shadow: 10px 10px 30px -16px black;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
  }
}

.post-container {
  overflow: auto;
  height: 800px;
  small {
    display: block;
    margin-top: 20px;
  }

  .post-title {
    margin-top: 10px;
  }

  .markdown-body {
    margin-top: 20px;
  }
}

.arrow-back-outline {
  margin-right: 10px;
  vertical-align: middle;
}

