.menu-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
}

.menu-item {
  padding: 5px 0;
  text-decoration: none;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #fff;
}

.side-menu {
  img {
    height: 154px;
    border-radius: 175px;
  }
}